.main-nav {
  /* background-color: var(--color-primary); */
  /* position: fixed; */
  height: 5rem;
  width: 100vw;
  background: #17171772;
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  backdrop-filter: blur(8px);
}

.nav__toggle-btn {
  display: none;
}

.nav__container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.nav__links {
  font-weight: bolder;
  display: flex;
  gap: 2.5rem;
  align-items: center;
}

.nav__links a {
  padding: 0.45em 0.55em;
  font-weight: 600;
  transition: var(--transition);
}
.nav__links a:hover {
  padding: 0.45em 0.55em;
  font-weight: bolder;
  color: var(--color-secondary);
  text-shadow: 0px 0px 30px var(--color-secondary);
}

.active-nav {
  position: relative;
  color: var(--color-primary);
  font-weight: 900 !important;
}

.logo {
  display: flex;
  width: 4rem;
}

@media screen and (max-width: 1024px) {
  .nav__toggle-btn {
    display: inline-block;
    background-color: transparent;
    font-size: 1.8rem;
    cursor: pointer;
  }
  .nav__toggle-btn svg {
    color: var(--color-gray-100);
  }
  .nav__links {
    position: absolute;
    top: 100%;
    right: 0;
    flex-direction: column;
    gap: 0;
  }
  .active-nav {
    position: relative;
  }
  .active-nav::after {
    display: none;
  }
  .nav__links li {
    height: 4rem;
    width: 100%;
    box-shadow: -2rem 2rem 5rem rgba(0, 0, 0, 0.4);
  }

  .nav__links li a {
    background: #171717c4;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1rem 5rem 1rem 3rem;
  }
  .show__nav {
    display: flex;
  }
  .hide__nav {
    display: none;
  }
}
